{% extends 'base.html.twig' %}

{% block title %}Modifier le produit
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h2 class="text-primary mb-4">Modifier le produit :
			{{ product.name }}</h2>
		<a href="{{ path('app_admin_product_index') }}" class="btn btn-outline-secondary mb-3">← Retour à la liste des produits</a>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn btn-warning mt-3">Mettre à jour</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
