{% extends 'base.html.twig' %}

{% block title %}Modifier commande #{{ order.id }}
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h2 class="text-primary mb-4">Modifier le statut de la commande #{{ order.id }}</h2>

		{{ form_start(form) }}
		{{ form_row(form.statut) }}
		<button class="btn btn-success mt-3">Enregistrer</button>
		{{ form_end(form) }}

		<a href="{{ path('app_admin_order_index') }}" class="btn btn-outline-secondary mt-3">
			← Retour à la liste des commandes
		</a>
	</div>
{% endblock %}
